:root {
    --hueso: #FAF7EE;
    --verde: #2f7a2c;
    --amarillo: #ffab49;
    --gris-oscuro: #444444;

}

html{
    font-size: 80%;
}

*,*:before,:after{
box-sizing: inherit;
}

body {
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    padding-top: 100px;
    }

.nav-item a{
    color: var(--hueso);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.5rem;
    align-self: center;
    
    
}

.custom-toggler.navbar-toggler {
    background-color:var(--hueso) ;
    border-width: 5; 
}

