:root {
    --hueso: #FAF7EE;
    --verde: #2f7a2c;
    --amarillo: #ffab49;
    --gris-oscuro: #444444;

}

html{
    font-size: 80%;
}

*,*:before,:after{
box-sizing: inherit;
}


body{
    font-size: 1rem;
    font-family:'Krub', sans-serif;;
    
}

.custom-toggler.navbar-toggler {
    background-color:var(--hueso) ;
    border-width: 5; 
}

.nav-item a{
    color: var(--hueso);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.5rem;
    align-self: center;
    
    
}

.nav-item a:hover{
    color: var(--amarillo);
    
}

.imagen-header{
    background-image: url(../img/imagen-header.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
    height: 800px;
    }

.contenido-imagen-header{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

