@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root{
    --green:#267c31;
    --backgroud:#faf7ef;
    --yellow:#f4a94d;
    --letter:#eceeec; 
}
*{
    background: var(--backgroud);
    font-family: 'Poppins', sans-serif;

}
#team{
    width: 100%;
    min-width: 320px;
}
#team .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
#team .container .card{
    width: 300px;
    height: 400px;
    margin: 10px;
    display: grid;
    grid-template-columns: 100%;
    border-radius: 40px;
    box-shadow: 1px 6px 21px -1px #000000;
    position: relative;
    background: var(--green);
}
#team .container .card  img{
    width: 100px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    justify-self: center;
    align-self: center;
    background-color: var(--green);
}
#team .container .card p{
    margin-left: 30px;
    color: var(--letter);
    background: var(--green);

}
.card a{
    justify-self: center;
    align-self: center;
}
.card .ultima{
    margin-bottom: 30px;
}
.card p{
    margin-top: 20px;
    color: var(--letter);
    font-weight: 600;
    font-size: 20px;
    background: var(--green);

}
.card p strong{
    background: var(--green);
    color: var(--letter);

}
.card a button{
    text-decoration: none;
    font-size: 20px;
    color: var(--letter);
    background: var(--yellow);
    border-radius: 30px;
    width: 200px;
    height: 40px;
    justify-self: center;
    align-self: center;
    border: none;
    right: 50px;
    top: 350px;
    position: absolute;
    transition: transform .2s; /* Animation */
}
.card a button:hover{
    cursor: pointer;
    transform: scale(1.1);
}